.logo {
  font-weight: 200;
  padding-left: 30px;
}

.card .card-title {
  font-size: 40px !important;
  font-weight: 100 !important;
}

.card .bg {
  width: fit-content !important;
  height: fit-content !important;
}

.list-item {
  color: black;
}

h2 {
  font-weight: 200 !important;
}

h3 {
  font-weight: 200 !important;
}

h5 {
  font-weight: 300 !important;
}

.capitalize {
  text-transform: uppercase !important;
  font-size: 25px !important;
  font-style: italic;
}

.text-img {
  padding-top: 30px !important;
}

p {
  font-size: 15px !important;
}

.bold {
  font-weight: bold !important;
}

.card.hoverable:hover {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.card .card-image img {
  max-width: 100%;
  height: width / 1.8 !important;
  object-fit: auto !important;
}

#playground-element {
  margin-bottom: 40px !important;
}